{% if request.current_site.domain == 'kinoinfo.ru' or request.current_site.domain == 'kinoafisha.ru'  %}
<noindex>
<div style="max-width: 270px; margin: 0 auto; margin-bottom: 20px;">
<div class="left_banner left_adv_gen">
    {% if not simple %}
    <div class="left_banner_title">Реклама</div>
    {% endif %}

    {% if adv_type == 'adv' %}
    <a class="flb_adv_link" id="flb_id_{{ banner_id }}" href="{{ banner_url }}" target="_blank" rel="nofollow">
        <div class="left_adv_content {{ adv_style }}">
            {{ swf_object|safe }}
        </div>
    </a>
    {% else %}
    <div class="left_banner_content">
        {{ swf_object|safe }}
    </div>
    {% endif %}

    {% comment %}
    {% if not simple %}
    <a onclick="Dajaxice.base.get_my_blocks(get_my_blocks_callback, {'btype': 6});" class="adv_btn">Добавить рекламный блок</a>
    {% endif %}
    {% endcomment %}
</div>
</div>
</noindex>
{% endif %}