<div class="art-posttree-width">
    
    <div class="method-list">
            {% if user.is_superuser %}
                <a href="{% url add_article %}"><b>Добавить статью</b></a>
            {% endif %}
            <ul>
                {% for i in p.object_list %}
                <li>
                    <a href="{% url articles_main i.id %}?page={{ page }}">{{ i.title }}</a>
                    {% if user.is_superuser %}
                        <a class="edit-article" href="{% url edit_article i.id %}"></a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <br />
            <div class="pagination">
                {% if p.has_previous or p.has_next %}
                <span class="step-links">
                    {% if p.has_previous %}
                        <a href="?page={{ p.previous_page_number }}">назад</a>
                    {% endif %}

                    <span class="current">
                        {{ p.number }} из {{ p.paginator.num_pages }} стр.
                    </span>

                    {% if p.has_next %}
                        <a href="?page={{ p.next_page_number }}">вперед</a>
                    {% endif %}
                </span>
                {% endif %}
            </div>
            
            <br />
            
            <a href="{% url main %}"><b>На главную</b></a>

    </div>

</div>





