{% extends "base.html" %}
{% block title %}Скоро в кинотеатрах{% endblock %}
{% load base_tags %}
{% block script %}
    <script type="text/javascript">
    $(document).ready(function(){
        $(".fancybox").fancybox();
        $("#various1").fancybox();
        $("#various2").fancybox();
        $("#descript").fancybox();
        get_film({{ first_load_film }});
    });
    
    var RELEASE_SUBSCRIBE_ME = {% if subscribe_me %}true{% else %}false{% endif %}
    
    </script>
{% endblock %}
{% block content %}


<h1 class="content-header">Скоро в кинотеатрах</h1>

<div class="art-posttree-width">
    <div class="release-list">

        <form action="{% url releases_ajax %}" method="post">{% csrf_token %}
            <select name="release" class="release_date" onchange="this.form.submit();">
                {% for i in dmonth %}
                    <option value="{{ i.month|date:'Y-m'}}" {% if f_value|date:'Y-m' == i.month|date:'Y-m' %}selected{% endif %}>
                    {{ i.month|date:'F Y' }}
                    </option>
                {% endfor %}
            </select>
            <select name="release_week" class="release_week" onchange="this.form.submit();">
                {% for k, v in month_weeks.items %}
                    <option value="{{ k }}/{{ f_value|date:'Y-m' }}" {% if k == active_week %}selected{% endif %}>
                    {{ v.range }} {{ v.date|date:'b'}}
                    </option>
                {% endfor %}
            </select>
        </form>
        
        {% for i in p %}
            <div onclick="get_film({{ i.kid }});" id="release_film_id_{{ i.kid }}" class="release_film">
          
                {% if i.rate == 0 %}
                    <b class="release_film_rate rate_0">?</b> 
                    <b class="release_film_rate_angle angle_0"></b>
                    {% else %}
                    <b class="release_film_rate rate_{{ i.rate }}" title="Репутация фильма:{% if i.show_imdb %} IMDb - {{ i.show_imdb }}{% endif %}{% if i.rotten %} / RottenTomatoes - {{ i.rotten }}{% endif %}{% if i.show_ir %} / Киномэтры - {{ i.show_ir }}{% endif %}{% if not i.show_imdb and not i.rotten and not i.show_ir %} нет{% endif %}">{{ i.rate }}</b> 
                    <b class="release_film_rate_angle angle_{{ i.rate }}"></b>
                    {% endif %}
                    
                <b id="release_film_name" class="release_film_name">{{ i.name|safe }}</b>
            </div>
        {% endfor %}

        <br />

    {% if user.is_superuser %}
        <a href="{% url kinoafisha_admin_main %}">Панель</a>
    {% endif %}
        <br />
        <a href="{% url main %}">На главную</a>
    </div>
    
</div>


<div class="art-postcontent-width">
    {% film_data 'release' %}
</div>
{% endblock %}
