{% extends "release_parser/kinoafisha_admin.html" %}
{% block info %}
{% load base_tags %}
<h3 class="art-postheader">
{% if org_name %}
    Название организации "{{ org_name.name }}"
{% else %}
    Добавить название организации
{% endif %}
</h3>
    
    <fieldset class="brand_form_edit">
        <legend><b>Редактировать название организации</b></legend>
        <form action="" method='post'>{% csrf_token %}
            <ul>
                <li>{{ form.status.errors }}{{ form.status.label }}<br />{{ form.status }}</li>
                <li>{{ form.name.errors }}{{ form.name.label }}<br />{{ form.name }}</li>
                <li>{{ form.language.errors }}{{ form.language.label }}<br />{{ form.language }}</li>
            </ul>
            <div class="clear"></div>
            <input type="submit" name="save" value="Сохранить">
        </form>
    </fieldset>


<div class="clear"></div>
{% if org_name %}
<br />
    <form action="{% url delete_org_name org_name.id %}" method='post'>{% csrf_token %}
        <input type="submit" name="delete" value="Удалить">
    </form>
{% endif %}


{% endblock %}
