{% extends "release_parser/kinoafisha_admin.html" %}
{% load base_tags %}
{% block info %}
<h3 class="art-postheader" style="float: left;">Релизы okino.ua:</h3>
<div style="float: right;">
{% base_pagination p page %}
</div>
<div style="clear: both;"></div>

    <form action="" method='post'>{% csrf_token %}
        <table class="panel_list">  
            <th>Фильм</th><th>Дата</th><th>Дистрибьютор</th>
            {% for i in p.object_list %}
                <tr>
                    <td><div>{{ i.film.name }}</div></td>
                    <td><div>{{ i.release }}</div></td>
                    <td><div>{{ i.distributor }}</div></td>
                </tr>
            {% endfor %}
        </table>

    </form>

{% endblock %}
