{% load base_tags static %}
{% load dajaxice_templatetags %}
{% load i18n %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Главная{% endblock %} - Мобильная версия</title>

    {% if request.current_site.domain == 'kinoinfo.ru' %}
    <link href="http://kinoinfo.ru" rel="canonical" />
    {% endif %}
    {% if request.current_site.domain == 'kinoafisha.ru' %}
    <link href="http://www.kinoafisha.ru" rel="canonical" />
    {% endif %}

    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/style_mobile.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}base/images/favicon.ico" type="/media/image/x-icon" />
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{{ STATIC_URL }}base/dajaxice/dajaxice.core.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}base/css/fancybox/jquery.fancybox.css?v=2.1.4" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/jquery.fancybox.pack.js?v=2.1.4"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/script.js"></script>
    {% if user.is_superuser or request.is_admin %}
    <script type="text/javascript" src="{{ STATIC_URL }}base/js/adm.js"></script>
    {% endif %}
    {% block script %}{% endblock %}
    
    {% if request.noob %}  
    <script src="https://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(ya_init);
        function ya_init(){
            var geo = ymaps.geolocation
            Dajaxice.user_registration.user_reg(function(){}, {
                'app_name': navigator.appName,
                'platform': navigator.platform,
                'display': screen.width+"x"+screen.height,
                'geo_co': geo.country,
                'geo_ci': geo.city,
            })
        }
    </script>
    {% endif %}

    <script>
        $(document).ready(function(){
            $('.art-posttree-width').css({'height': $(window).height() - 35 + 'px'})
            $(window).resize(function(){
                $('.art-posttree-width').css({'height': $(window).height() - 35 + 'px'})
            })
        });
    </script>

    

</head>

<body class="body">
    {% if request.current_site.domain == 'kinoafisha.ru' %}
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter33495773 = new Ya.Metrika({ id:33495773, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/33495773" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    {% endif %}


    {% csrf_token %}

    <div class="content-main">
        {% block content %}{% endblock %}
        {% mobile_adv_bottom %}
    </div>


    <div class="footer">
        <ul>
            {% if request.current_site.domain == 'kinoafisha.ru' %}
            <li><a href="http://www.kinoafisha.ru" class="full_website" id="fw_type_0">Полная версия</a></li>
            {% endif %}
            {% if request.current_site.domain == 'kinoinfo.ru' %}
            <li><a href="http://kinoinfo.ru" class="full_website" id="fw_type_0">Полная версия</a></li>
            {% endif %}
        </ul>
        <div class="copyright">
        Powered by <b>ИП Михаил Иванов</b> &copy; 2015
        </div>
        <div class="footer-metric">
        {% liveinternet_counter %}
        </div>
    </div>

</body>
</html>
