{% extends "base.html" %}
{% load base_tags %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".fancybox").fancybox();
        
        var scroll_h = ($(window).height() / 100) * 60
        $('.scroll_list').css('height', scroll_h + 'px')
        
        {% if user.is_superuser or request.is_admin %}
        var maxLength = $('textarea[name="photo_description"]').attr('maxlength')
        $('textarea[name="photo_description"]').keyup(function(){
            var curLength = $('textarea[name="photo_description"]').val().length
            if($(this).val().length >= maxLength){
                $(this).val($(this).val().substr(0, maxLength))
            }
            var remaning = maxLength - curLength
            if(remaning < 0){
                remaning = 0
            }
            $('#char_count').html('(remaining characters: ' + remaning + ')')
        });
        {% endif %}
    });
</script>
{% endblock %}

{% block page_bg %}style="background-image: url('{% if user_bg %}{{ user_bg.file }}{% else %}{{ request.bg_img }}{% endif %}');"{% endblock %}
{% block br_url %}{% if user_bg %}{{ user_bg.url }}{% else %}{{ request.advert_url }}{% endif %}{% endblock %}
{% block adv_id %}{% if user_bg %}{{ user_bg.id }}{% else %}{{ request.advert_id }}{% endif %}{% endblock %}



{% block content %}

<h1 class="content-header">
    <b id="navigation_bar"><a href="{% url main %}">{{ request.current_site.name }}</a></b> - 
    <b id="navigation_bar"><a href="{% url profile card.profile.user_id %}">{{ card.name|safe|striptags }}</a></b> - 
    <b id="navigation_bar"><span class="small_film_name">{{ title }}</span></b>
</h1>

{% if user.is_superuser or request.is_admin %}
    {% if count == 0 and not id %}
    <span class="change_page_type in_h1_left" onclick="$.fancybox.open($('.page_types_choice').show());">Page Type</span>
    {% endif %}
    <span class="add_photos in_h1">Add Photos</span>
{% endif %}

{% profile_menu card %}

<div class="art-postcontent-width">
    
    {% if user.is_superuser or request.is_admin %}
    <div class="organization_slides org_fields">
        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label for="id_slides">File:</label> <input type="file" name="slides" id="id_slides" multiple />
        <br /><br />
        <input type="submit" value="Save" class="organization_slides_accept_btn" name="photo_add" />
        <input type="button" value="Cancel" class="organization_slides_cancel_btn" />
        </form>
    </div>
    {% endif %}
    
    <div class="gallery">
        <div class="scroll_list">
        {% for i in photos %}
            <div class="g_photo_el" id="g{{ i.id }}">
                <a class="fancybox" rel="group" href="/upload{{ i.file }}"><img src="/upload{{ i.file }}" />{% if i.description %}
                <p class="g_photo_description">{{ i.description }}</p>
                {% endif %}</a>

                {% if user.is_superuser or request.is_admin %}
                <span id="{{ i.id }}" class="g_photo_del" title="Delete photo"></span>
                <span id="{{ i.id }}" class="g_photo_edit" title="Edit title and description"></span>
                {% endif %}
                <div class="g_photo_title">{% if i.title %}{{ i.title }}{% endif %}</div>
                

            </div>
            {% if forloop.last %}
            <div style="display: inline-block; height: 20px; width: 500px;"></div>
            {% endif %}
        {% endfor %}
        
        </div>
    </div>
    
    
    {% if user.is_superuser or request.is_admin %}
        <div class="photo_edit_form">
            <form action="" method="post">{% csrf_token %}
                <b>Title:</b><br />
                <input type="text" value="" name="photo_title" size="50" maxlength="60" style="width: 390px;"/>
                <br /><br /><b>Description:</b> <span id="char_count"></span><br />
                <textarea name="photo_description" maxlength="500" style="width: 400px; height: 70px;"/></textarea>
                <br /><br />
                <input type="hidden" value="" name="photo_id" />
                <input type="button" value="Save" class="gallery_photo_edit" />
                <br /><br />
            </form>
        </div>
    
        {% if not page_type or count == 0 %}
        <form action="{% url user_change_page_type card.profile.user_id vid %}" method="post" class="page_types_choice" style="display: none;">{% csrf_token %}
            <b>Choose Page Type: </b>
            <select name="page_type">
            {% for i in page_types %}
            <option value="{{ i.0 }}"{% if page_type == i.0 %} selected{% endif %}>{{ i.1 }}</option>
            {% endfor %}
            </select>
            <input type="submit" value="Select" />
        </form>
        {% endif %}
    {% endif %}
    
</div>

{% endblock %}
