<input type="button" class="kinoafisha_button" value="" id="ka_btn" />
<div class="kinoafisha_login">
    <table width="500" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tr width="21">
            <td width="6" align="left">
                <img src="http://images.kinoafisha.ru/cen_left.gif"/>
            </td>
            <td width="*" align="center" bgcolor="#6677dd">
                <b style="color: #FFF;">Авторизация</b>
            </td>
            <td width="6" align="right">
                <img src="http://images.kinoafisha.ru/cen_right.gif"/>
            </td>
        </tr>
    </table>
    
    <br />
    
    <ul>
        <li class="ka_login_field"><b>Ваш ник:</b></li>
        <li><input type="text" value="" class="nickname" size="30"/><span class="nickname_2"></span></li>
    </ul>
    <br />
    
    <div class="kinoafisha_q"></div>
    
    <ul class="ka_btns">
        <li><input type="button" value="Вперед!" class="kinoafisha_auth kinoafisha_btn" /></li>
    </ul>


    

</div>





