{% extends "mobile/base.html" %}
{% load i18n %}
{% block title %}{{ card.name|safe|striptags }} - Работа{% endblock %}
{% load base_tags %}

{% block script %}
<link rel="stylesheet" href="{{ STATIC_URL }}base/css/datepicker.css" type="text/css" media="screen" />

<script type="text/javascript">
    $(document).ready(function(){
        var scroll_h = ($(window).height() / 100) * 45
        $('.scroll_list').css('height', scroll_h + 'px')
        
        $('input[name="date"]').datepicker({
            altFormat: "yy-mm-dd",
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            firstDay: 1
        });
        
        var maxLength = $('textarea[name="details"]').attr('maxlength')
        $('textarea[name="details"]').keyup(function(){
            var curLength = $('textarea[name="details"]').val().length
            if($(this).val().length >= maxLength){
                $(this).val($(this).val().substr(0, maxLength))
            }
            var remaning = maxLength - curLength
            if(remaning < 0){
                remaning = 0
            }
            $('#char_count').html('(осталось символов: ' + remaning + ')')
        });
    });
</script>
{% endblock %}


{% block content %}
    {% mobile_header %}

    {% profile_menu_mobile is_my_profile card.profile.user_id %}

    <div class="art-postcontent-width">
        <h1>Работа</h1>


        {% if current_group %}
        <form action="" method="get">
            <h3>{% if is_my_profile %}{% trans 'Моя работа' %}{% else %}{% trans 'Работа' %}{% endif %}
            "{{ current_group.name }}"
            <select name="project" onchange="this.form.submit();">
            {% for p in projects %}
                <option value="{{ p.id }}"{% if p.id == project_id %} selected{% endif %}>{{ p.name }}</option>
            {% endfor %}
            </select></h3>
        </form>
        {% endif %}
        

        {% if current_group %}
        <br />


            {% if is_my_profile %}
            <a href="#" onclick="$.fancybox.open($('.add_job_action').show())">добавить действие</a> 
            <br /><br />
            {% endif %}
            <table class="modern_tbl">
                <th></th><th>Инфо</th><th>Дата время</th><th>Общая сумма</th><th>Кол</th><th>Оплачено</th>
            {% for j in actions %}
                <tr>
                    <td><div></div></td>
                    <td><div>{{ j.obj.extra|safe|linebreaks }}</div></td>
                    <td><div>{{ j.obj.dtime|date:"d b Y" }}</div></td>
                    <td><div>{{ j.summa }}</div></td>
                    <td><div>{{ j.obj.number }}</div></td>
                    <td><div>{% if j.obj.allow %}<span style="color: green;">Да{% else %}<span style="color: red;">Нет{% endif %}</span></div></td>
                </tr>
            {% endfor %}
            </table>
            
            <div class="add_job_action" style="display: none; font-size: 14px;">
                <form action="{% url add_job_action %}" method="post">{% csrf_token %}
                    <b>Этап работы:</b><br />
                    <select name="stage">
                        <option value="">-----------</option>
                        {% for i in stages %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                    </select><br />
                    
                    <b>Действие:</b><br />
                    <select name="action">
                        {% for i in user_actions %}
                        <option value="{{ i.id }}">{{ i.title }}</option>
                        {% endfor %}
                    </select><br />
                    
                    <b>Описание работы:</b> <span id="char_count"></span><br />
                    <textarea name="details" maxlength="256" cols="80" rows="5"></textarea><br />
                    <b>Затрачено часов:</b><br />
                    <input type="text" name="hours" value="" /><br />
                    <b>Дата:</b><br />
                    <input type="text" name="date" value="" /><br /><br />
                    <input type="hidden" name="proj_id" value="{{ project_id }}" />
                    <input type="submit" value="Сохранить" />
                </form>
            </div>

        {% endif %}
    </div>
{% endblock %}
