{% extends "base.html" %}
{% load base_tags %}
{% block title %}Персоны на букву "{{ char }}" - {{ request.current_site.name }}{% endblock %}



{% block content %}

<h1 class="content-header">Персоны на букву "{{ char }}"</h1>

<div class="art-posttree-width" >
    <div class="films_years">
    {% for i in alphabet %}
        <a href="{% url get_person_list i %}">{{ i }}</a> 
    {% endfor %}
    </div>
    
    {% if request.current_site.domain == 'kinoafisha.ru' %}
    <div style="font-size: 10px; color: #888; margin-top: 15px;">
    Деловая доска объявлений <a href="http://www.board.com.ua/" target="_blank">www.board.com.ua</a>
    <div class="separator_line"></div>
    Find out <a href="http://open4u.co.uk/categories/banks.html" target="_blank">Opening times of Banks in UK</a>
    </div>
    {% endif %}
    
</div>

<div class="art-postcontent-width">
    <div class="scroll_list">
    {% for i in persons %}
        <a href="{% url get_person i.id %}">{{ i.name }}</a><br />
    {% endfor %}
    </div>
</div>



{% endblock %}
